@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: white;
}

:root {
  --tile-size: 100px;
}

.attacking {
  background-color: red;
}

.highlight::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(0.5 * var(--tile-size));
  height: calc(0.5 * var(--tile-size));
  background-color: green;
  border-radius: 50%;
  left: 25%;
  top: 25%;
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}

@layer utilities {
}
