@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: white;
}

:root {
  --tile-size: 100px;
  --highlight: rgba(0, 0, 0, 0.1);
}

.attacking::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(0.9 * var(--tile-size));
  height: calc(0.9 * var(--tile-size));
  border: calc(0.08 * var(--tile-size)) solid var(--highlight);
  border-radius: 50%;
  left: 5%;
  top: 5%;
}

.highlight::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(0.3 * var(--tile-size));
  height: calc(0.3 * var(--tile-size));
  background-color: var(--highlight);
  border-radius: 50%;
  left: 35%;
  top: 35%;
}

/* .highlight::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(0.5 * var(--tile-size));
  height: calc(0.5 * var(--tile-size));
  background-color: green;
  border-radius: 50%;
  left: 25%;
  top: 25%;
} */

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}

@layer utilities {
}
